<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<style>
body {font-family: "Lato", sans-serif;}

.sidebar {

  height: 100%;
  width: 230px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 90px;
}

.sidebar a {
  padding: 6px 8px 20px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}
.msg{
  margin-top: 0px;
}

.main {
  margin-top:90px;
  margin-left:230px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
</style>
</head>
<body>
<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
<div class="sidebar">
    <a href="#"><i class="fa fa-fw fa-user"></i> {{manager}}
  <a href="/mhome"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="/view_pending_requests"><i class="fa fa-fw fa-wrench"></i>View Pending Requests</a>
  <a href="/manager_assign_task"><i class="fa fa-fw fa-wrench"></i>Assign Task to Employee</a>
  <a href="/empoyee_and_asset_of_manager"><i class="fa fa-fw fa-user"></i> Employees and Assets</a>
  <hr style="color:white;">

  <a href="/raise_a_request_by_manager"><i class="fa fa-fw fa-wrench"></i>Raise a Requests</a>
  <a href="/view_manager_request"><i class="fa fa-fw fa-wrench"></i>View My Requests</a>
  <a href="/view_manager_asset"><i class="fa fa-fw fa-wrench"></i>View My Asset</a>
  <a href="/transfer_manager_asset"><i class="fa fa-fw fa-wrench"></i>Transfer My Assets</a>
  <a href="/manager_profile"><i class="fa fa-fw fa-edit"></i>Update Profile</a>
  <a href="/manager-logout"><i class="fa fa-fw fa-sign-out"></i>Logout</a>
</div>
<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
<div class="main">
  <div class="msg">
    {{#if msg}}<div class="card bg-danger text-dark"><div class="card-body">{{msg}}</div></div>{{/if}}
    {{#if success_msg}}<div class="card bg-success text-white"><div class="card-body">{{success_msg}}</div></div>{{/if}}
  </div>
  <div class="jumbotron jumbotron-fluid">
  <h2>Assign task to Employees:</h2>
  <a href="/view_assigned_task_from_manager" class="btn btn-primary">view assigned task</a>
</div>
<div class="container">
  <form action="assign-task-from-manager" method="post">
    <div class="form-group">
          <label for="email">Assign task to Employee :</label>
          <select class="form-control" id="eid"  name="eid">
            <option disabled>--choose Employee ID--</option>

            {{#each employee_data}}
            <option value="{{this.Emp_id}}">{{this.First_name}} {{this.Last_name}}({{this.Emp_id}})</option>
            {{/each}}
          </select>
    </div>
    <div class="form-group">
          <label for="email">Task  name:</label>
          <input type="text" class="form-control" id="tname"  name="tname">
        </div>
        <div class="form-group">
              <label for="email">Task Description:</label>
              <textarea class="form-control" id="tdescription"  name="tdescription"></textarea>
            </div>
            <div class="form-group">
                  <label for="email">Deadline Date:</label><span style="color:blue;">Today's date is:{{today}}.</span>
                  <input type="date" class="form-control" id="deadline"  name="deadline" value="{{today}}"/>
                </div>
            <input type="submit" class="btn btn-success" value="Assign Task"/>
</form>



</div><!--//container -->
</div>
</body>
</html>
