<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<style>
body {font-family: "Lato", sans-serif;}

.sidebar {

  height: 100%;
  width: 230px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 90px;
}

.sidebar a {
  padding: 6px 8px 20px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}
.msg{
  margin-top: 0px;
}

.main {
  margin-top:90px;
  margin-left:230px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
</style>
</head>
<body>
<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
<div class="sidebar">
    <a href="#"><i class="fa fa-fw fa-user"></i> {{admin}}
  <a href="/adminhome"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="/create_asset"><i class="fa fa-fw fa-building"></i>Create Asset</a>
  <a href="/view_asset"><i class="fa fa-fw fa-building"></i>view all Asset</a>
  <a href="/create_employee"><i class="fa fa-fw fa-wrench"></i>Employee</a>
  <a href="/view_user"><i class="fa fa-fw fa-user"></i> View users</a>
  <a href="/change_password"><i class="fa fa-fw fa-edit"></i>Change Password</a>
  <a href="/admin-logout"><i class="fa fa-fw fa-sign-out"></i>Logout</a>
</div>
<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
<div class="main">
  <div class="msg">
    {{#if msg}}<div class="card bg-danger text-dark"><div class="card-body">{{msg}}</div></div>{{/if}}
    {{#if success_msg}}<div class="card bg-success text-white"><div class="card-body">{{success_msg}}</div></div>{{/if}}
    <!-- {{#if data1}}<div class="card bg-danger text-dark"><div class="card-body">{{data1}}</div></div>{{/if}}
    {{#if data2}}<div class="card bg-danger text-dark"><div class="card-body">{{data2}}</div></div>{{/if}}
    {{#if data3}}<div class="card bg-danger text-dark"><div class="card-body">{{data3}}</div></div>{{/if}} -->

  </div>
  <div class="jumbotron jumbotron-fluid">
  <h2>Show All Users</h4>
</div>
<div class="container">
  <table class="table table-hover">
  <thead>
  <tr>
  <th>Name</th>
  <th>Email_id</th>
  <th>Password</th>
  <th>Mobile</th>
  <th>Designation</th>
  <th>ID</th>
  <th>Date Of joining</th>

  <th>Re-activate</th>
  </tr>
  </thead>
  <tbody>
  {{# each employee1}}
  <tr>
  <td><span>{{this.First_name}} {{this.Last_name}}</span></td>
  <td>{{this.Email_id}}</td>
  <td>{{this.Password}}</td>
  <td>{{this.Mobile}}</td>
  <td>{{this.Designation}}<span style="color:green;">(belongs to {{Manager_id}})</span></td>
  <td>{{this.Emp_id}}</td>
  <td>{{this.DateOfJoining}}</td>
  <td><a href="/reactivate?id={{this.Emp_id}}&designation={{this.Designation}}"><i class="fas fa-power-off"style="color:black;" ></i></a></td>


  </tr>
  {{/each}}
  {{# each support}}
  <tr>
  <td><span>{{this.First_name}} {{this.Last_name}}</span></td>
  <td>{{this.Email_id}}</td>
  <td>{{this.Password}}</td>
  <td>{{this.Mobile}}</td>
  <td>{{this.Designation}}</td>
  <td>{{this.Support_id}}</td>
  <td>{{this.DateOfJoining}}</td>
  <td><a href="/reactivate?id={{this.Support_id}}&designation={{this.Designation}}"><i class="fas fa-power-off"style="color:black;" ></i></a></td>

  </tr>
  {{/each}}
  {{# each manager}}
  <tr>
  <td><span>{{this.First_name}} {{this.Last_name}}</span></td>
  <td>{{this.Email_id}}</td>
  <td>{{this.Password}}</td>
  <td>{{this.Mobile}}</td>
  <td>{{this.Designation}}</td>
  <td>{{this.Manager_id}}</td>
  <td>{{this.DateOfJoining}}</td>
  <td><a href="/reactivate?id={{this.Manager_id}}&designation={{this.Designation}}"><i class="fas fa-power-off"style="color:black;" ></i></a></td>

  </tr>
  {{/each}}
  </tbody>
  </table>
</div><!--//container -->
</div>
</body>
</html>
