<!DOCTYPE html>
<html>
<head>
  <title>AMS-Employee </title
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<style>
body {font-family: "Lato", sans-serif;}

.sidebar {

  height: 100%;
  width: 230px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 90px;
}

.sidebar a {
  padding: 6px 8px 20px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}
.msg{
  margin-top: 0px;
}

.main {
  margin-top:90px;
  margin-left:230px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
</style>
</head>
<body>

  <script>
  $(document).ready(function(){
    $('#Total_task').hide();
    $('#percentage').hide();

    var completed=parseInt($('#completed').val());
    var incompleted=parseInt($('#incompleted').val());
    var total=completed+incompleted;
    var percentage= (completed/total)*100;
    $('#Total_task').show();
    $('#percentage').show();
    document.getElementById("percentage").innerHTML = percentage+"%";

    //$('#percentage').val(percentage+"%");
    document.getElementById("Total_task").innerHTML = total;
    //$('#Total_task').val(total);
    })

  </script>
<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
<div class="sidebar">
    <a href="#"><i class="fa fa-fw fa-user"></i> {{employee}}
  <a href="/ehome"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="/raise_a_request"><i class="fa fa-fw fa-wrench"></i> Raise a request</a>
  <a href="/view_my_request"><i class="fa fa-fw fa-user"></i> View my requests</a>
  <a href="/view_my_task"><i class="fa fa-fw fa-user"></i> View my Tasks</a>
  <a href="/employee_assets"><i class="fa fa-fw fa-wrench"></i>My Assets</a>
  <a href="/transfer_assets"><i class="fa fa-fw fa-wrench"></i>Transfer Assets</a>
  <a href="/employee_profile"><i class="fa fa-fw fa-edit"></i>Update Profile</a>
  <a href="/employee-logout"><i class="fa fa-fw fa-sign-out"></i>Logout</a>
</div>
<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
<div class="main">
  <div class="msg">
    {{#if msg}}<div class="card bg-danger text-dark"><div class="card-body">{{msg}}</div></div>{{/if}}
    {{#if success_msg}}<div class="card bg-success text-white"><div class="card-body">{{success_msg}}</div></div>{{/if}}
  </div>
  <div class="jumbotron jumbotron-fluid">
  <h2>Task Statistics</h2>
</div>
<div class="container">
{{# if completed_task}}
<h4 style="text-align:center; text-decoration:underline color:blue;">Completed task:(<span >{{completed_task_length}}</span>)<input type="hidden" id="completed" value="{{completed_task_length}}" /></h4>
  {{#each completed_task}}<span>
<h4 style="text-align:center;">{{this.Task_name}}</h4>
{{/each}}
{{else}}
<h4>0</h4>
{{/if}}
<hr style="border-color:black;">
{{# if incompleted_task}}
<h4 style="text-align:center; text-decoration:underline color:blue;">Incompleted task:(<span>{{incompleted_task_length}}</span>)<input type="hidden" id="incompleted" value="{{incompleted_task_length}}" /></h4>
  {{#each incompleted_task}}
<h4 style="text-align:center;">{{this.Task_name}}</h4>
{{/each}}
{{else}}
<h4>0</h4>
{{/if}}
<hr style="border-color:black;">
<div  style="text-align:center;">
<h4>Total Task:</h4><h1 style="text-align:center;"   style="width:300px;"  id="Total_task"  ></h1><br>
<h4>Completion percentage:</h4><h1 style="text-align:center;"   style="width:300px;"  id="percentage"  ></h1>
</div>
</div><!--//container -->
</div>
</body>
</html>
